.eventCard {
  width: 250px;
  height: 280px;
  border: 0.5px solid #b8b8b8;
  background-color: #ffffff;
  color: black;
  display: flex;
  flex-direction: column;
}

.eventInfo {
  height: 155px;
  padding: 10px;
}

.eventCard {
  display: flex;

  .buttons {
    display: flex;
    gap: 6px;
    text-align: center;
    justify-content: flex-end;
    transform: translateY(-30px);

    .button {
      all: unset;
      justify-items: center;
      display: flex;
      flex-direction: column;
      gap: 2px;
      height: fit-content;
      font-size: 0.9rem;
      cursor: pointer;
    }
  }
  &__title {
    margin-top: 10px;
  }
  &__description {
    height: 35px;
    overflow: hidden;
    margin-top: 15px;
    font-size: 14px;
  }
  &__startDate,
  &__dateDuration {
    height: 1rem;
    font-size: 11px;
  }

  &__startDate {
    margin-top: 20px;
  }

  &__dateDuration {
    margin-top: 5px;
  }
}
