.slide-bar {
  width: 10%;
  text-align: center;
}

.bm-item {
  display: inline-block;
  text-decoration: none;
  margin-bottom: 10px;
  color: #d1d1d1;
  transition: color 0.2s;
}

.bm-item:hover {
  color: white;
}

.bm-burger-button {
  position: fixed;
  width: 55px;
  height: 55px;
  top: 50%;
  border-radius: 50%;
  color: #59c7c7;
}

.button {
  background-color: #59c7c7;
  border-radius: 50%;
  display: flex;
  border: none;
  color: #008d8e;
}

.buttonMenu {
  position: relative;
  font-size: 30px;
  align-items: center;
  justify-content: center;
}

.bm-burger-bars {
  background: #373a47;
}

.bm-overlay {
  background: transparent;
  z-index: 0;
}

.bm-menu {
  background: #d7dcd7;
  padding: 1em 1em 0;
  font-size: 1.15em;
}

.label,
.header2 {
  color: #171f1d;
  font-family: "Public Sans", sans-serif;
}

.bm-morph-shape {
  fill: #373a47;
}

.bm-item-list {
  margin: 0 auto;
  color: #b8b7ad;
}

.down-arrow {
  color: #008d8e;
  font-weight: 400;
  font-size: 18px;
  left: 50px;
}