.header2 {
  text-align: left;
  padding: 20px 5px;
}

.label{
  display: inline-block;
  width: 100%;
  font-size: 16px;
  padding: 0;
}

.toolbar-button-container {
  text-align: center;
}

.sidebar-btn {
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  margin: 1rem auto;
}
