.userEvents {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding-top: 30px;
  width: 580px;
  min-width: 480px;

  &__userName {
    font-weight: normal;
    padding-bottom: 60px;
  }

  &__events {
    padding-top: 30px;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
  }
}