.datepicker-toggle {
    display: inline-block;
    position: relative;
    border: #b8b8b8 1px solid;
}

.datepicker-toggle-button {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url('data:image/svg+xml;base64,...');
}

.label_select_date {
    text-align: left;
    padding: 0 0 5px 0;
}

.datepicker-input {
    width: 320px;
    height: 34px;
    border: #f2f2f2 1px solid;
}