header {
    min-height: 70px;
    background-color: #f5f5f5;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    font-family: 'Public Sans', sans-serif;
    font-size: 20px;
}

.logo-with-name {
    font-size: 34px;
    font-style: normal;
    font-weight: 400;
    color: #171f1d;
    line-height: 52px;
    display: flex;
    float: left;
    margin: 0 0 0 1rem;
    align-items: center;
    justify-content: center;
}

.route{
    align-content: center;
}

.logo-name-end {
    color: #008d8e;
}

nav {
    float: right;
}

li a{
    text-align: center;
}

li:last-child {
    margin-right: 1rem;
}

.navbar{
    display: flex;
    justify-content: center;
}

.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-menu {
    position: absolute;
    z-index: 1;
}
