* {
    padding: 0;
    margin: 0;
}
.main-page {
    position: absolute;
    display: grid;
    height: calc(100% - 70px);
    width: 100%;
}


.slide-bar{
    text-align: center;
}

.bm-item {
    display: inline-block;
    text-decoration: none;
    margin-bottom: 10px;
    color: #d1d1d1;
    transition: color 0.2s;
}

.bm-item:hover {
    color: white;
}

.bm-burger-button {
    position: fixed;
    width: 55px;
    height: 55px;
    top: 50%;
    border-radius: 50%;
    color: #59C7C7;
}


.button{
    background-color: #59C7C7;
    border-radius: 50%;
    border: none;
    color: #008D8E;
}

.buttonMenu {
    position: relative;
    font-size: 44px;
}

.bm-burger-bars {
    background: #373a47;
}

.bm-cross-button {
    left: calc(100% - 28px);
}

.bm-menu {
    background: #D7DCD7;
    padding: 1em 2em 0;
    font-size: 1.15em;
}

.label, .header2{
    color: #171f1d;
    font-family: 'Public Sans', sans-serif;
}

.bm-morph-shape {
    fill: #373a47;
}

.bm-item-list {
    margin: 0 auto;
    color: #b8b7ad;
}

.down-arrow{
    color: #008D8E;
    font-weight: 400;
    font-size: 18px;
    left: 50px;
}

.sidebar-btn{
    text-align: center;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 1rem auto;
}