.event-creation {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 480px;

  font-size: 18px;
  color: #323232;

  .photo-carousel {
    height: 300px;
    margin: 50px 0 0;
    background-color: #D7DCD7;
  }

  .event_name-input {
    all: unset;
    width: 100%;
    text-align: left;
    font-size: 24px;
    color: #008D8E;
  }
  
  .pickers_wrapper {
    position: relative;
  }

  .event_duration-picker {

  }

  .change-picker {
    position: absolute;
    right: 0;
  }

  .place-picker_input {
    border: none;
    font-size: 18px;
    box-shadow: inset -2px -2px #dcdcdc;
    height: 34px;
  }

  .map-link {
    color: #008D8E;
    text-decoration: none;
  }
}

.time-picker_input {
  border: none;
  height: 34px;
  box-shadow: inset -2px -2px #dcdcdc;
  font-size: 18px;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
