.eventCreation {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 480px;

  font-size: 18px;
  color: #323232;

  .photoCarousel {
    height: 300px;
    margin: 50px 0 0;
    background-color: #D7DCD7;
  }

  .event_nameInput {
    all: unset;
    width: 100%;
    text-align: left;
    font-size: 24px;
    color: #008D8E;
  }

  .pickers_wrapper {
    position: relative;
  }

  .event_placePicker {

  }

  .event_durationPicker {

  }

  .changePicker {
    position: absolute;
    right: 0;
  }

  .placePicker_input {
    border: none;
    font-size: 18px;
    box-shadow: inset -2px -2px #dcdcdc;
    height: 34px;
  }

  .placePicker_text {

  }

  .mapLink {
    color: #008D8E;
    text-decoration: none;
  }
}

.flexRow {
  display: flex;
  flex-direction: row;
  align-items: center;
}
