.resetPassword {
  margin: 220px auto auto;
  display: inline-block;

}

.mail-send-label {
  margin-bottom: 20px;
  font-size: 16px;
}

.first {
  margin-bottom: 10px;
}

.mail-send {
  color: #008D8E;
}

.button__resetPassword {
  margin-top: 20px;
}