.profile {
    margin: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320px;
}

.profile_avatar-wrapper {
    margin-top: 65px;
    margin-bottom: 25px;
}

.profile_avatar {
    width: 200px;
    height: 200px;
    vertical-align: middle;
    border-radius: 50%;
    object-fit: cover;
}

.edit-button {
    margin-bottom: 25px;
}