header {
    min-height: 70px;
    background-color: #f5f5f5;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    font-family: 'Public Sans', sans-serif;
    font-size: 20px;
}

.logo-with-name {
    font-size: 34px;
    font-style: normal;
    font-weight: 400;
    color: #171f1d;
    line-height: 52px;
    display: flex;
    float: left;
    margin: 0 0 0 1rem;
    align-items: center;
    justify-content: center;
}

.logo{
    min-width: 50px;
    min-height: 50px;
}

.route {
    align-content: center;
    line-height: 35px;
}

.logo-name-end {
    color: #008d8e;
}

nav {
    float: right;
}

li a {
    text-align: center;
}

.routes-list ~ li:last-child,
.routes-list li {
    margin-right: 1rem;
}
.navbar {
    display: flex;
    justify-content: center;
}

.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-menu {
    position: absolute;
    z-index: 1;
}

.header__menu-down ul {
    list-style: none;
    margin: 0;
    position: relative;
    padding: 0;
}

.header__menu-down a {
    display: block;
    text-decoration: none;
    outline: none;
    text-align: center;
    transition: 0.4s ease-in-out;
}

.header__menu-down {
    height: 70px;
}

.header_topmenu-container {
    backface-visibility: hidden;
    background: #f5f5f5;
    height: 100%;
}

.header_topmenu-container > li {
    display: inline-block;
    position: relative;
}

.header_topmenu-container > li > a {
    display: block;
    position: relative;
}

.header__ghosts-container-submenu li {
    list-style-type: none;
}

.header__submenu-container {
    position: relative;
    visibility: hidden;
    list-style-type: none;
    width: 200%;
    right: 100%;
    transform: perspective(600px) rotateX(-90deg);
    transform-origin: 0 0;
    box-shadow: 0 0 5px rgba(0,0,0, 0.2);
}

.header__profile-photo {
    display: block;
    position: relative;
    margin: auto;
    padding: 0 30px;
    line-height: 70px;
}

.header_topmenu-container > li:hover .header__submenu-container {
    visibility: visible;
    opacity: 1;
    transform: perspective(600px) rotateX(0deg);
    background: #d7dcd7;
    border-radius: 20px;
    margin: 0 auto;
    z-index: 10000;
}

.header__submenu-container li a {
    box-sizing: border-box;
    width: 100%;
    padding: 5px;
    color: black;
    text-align: center;
    font-size: 20px;
}
