.CustomSelector {

  .classNameLabel {
    text-align: left;
    margin-bottom: 10px;
  }

  .changeSelector {
    display: flex;
    gap: 15px;

    .firstButton {

    }

    .secondButton {

    }
  }

}