*,
*:after,
*:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: 0.5s ease-out;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Public Sans", sans-serif;
  text-align: center;
}

.routes-list {
  list-style: none;
  display: flex;
  gap: 4em;
}

.route:last-child {
  justify-self: flex-end;
}
